
:root .sidebar-grid, :root.theme-light .sidebar-grid, :root .grid-container.grid, :root.theme-light .grid-container.grid, :root .wiki-pilot-communities, :root.theme-light .wiki-pilot-communities, :root #pdp-credit-bar, :root.theme-light #pdp-credit-bar, :root subreddit-header-card, :root.theme-light subreddit-header-card, :root .sidebar-grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-light .sidebar-grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root .sidebar-grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-light .sidebar-grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root .grid-container.grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-light .grid-container.grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root .grid-container.grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-light .grid-container.grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container) {
    --color-neutral-content: #2A3C42;
    --color-neutral-content-disabled: #D6D6D6;
    --color-neutral-content-weak: #576F76;
    --color-neutral-content-strong: #0F1A1C;
    --color-neutral-background: #ffffff;
    --color-neutral-background-selected: #EAEDEF;
    --color-neutral-background-weak: #F9FAFA;
    --color-neutral-background-medium: #F8F8F8;
    --color-neutral-background-strong: #ffffff;
    --color-neutral-background-hover: #F2F4F5;
    --color-neutral-background-container-strong: #EEF1F3;
    --color-neutral-background-container-strong-hover: #E5EBEE;
    --color-neutral-border-strong: #0F1A1C;
    --color-tone-1: #131313;
    --color-tone-2: #434343;
    --color-tone-3: #ACACAC;
    --color-tone-4: #E4E4E4;
    --color-tone-5: #F2F2F2;
    --color-tone-6: #F8F8F8;
    --color-tone-7: #ffffff;
    --color-ui-canvas: #F2F2F2;
    --color-primary: #0045AC;
    --color-primary-hover: #003584;
    --color-primary-background: #0045AC;
    --color-primary-background-hover: #003584;
    --color-primary-background-selected: #00255D;
    --color-secondary: #0F1A1C;
    --color-secondary-weak: #576F76;
    --color-secondary-background: #EAEDEF;
    --color-secondary-background-hover: #E2E7E9;
    --color-secondary-background-selected: #D2DADD;
    --color-secondary-plain: #0F1A1C;
    --shreddit-content-background: var(--color-neutral-background);
    background-color: var(--color-neutral-background);
}

:root .sidebar-grid .theme-beta.stickied, :root.theme-light .sidebar-grid .theme-beta.stickied, :root .sidebar-grid .theme-rpl.stickied, :root.theme-light .sidebar-grid .theme-rpl.stickied, :root .grid-container.grid .theme-beta.stickied, :root.theme-light .grid-container.grid .theme-beta.stickied, :root .grid-container.grid .theme-rpl.stickied, :root.theme-light .grid-container.grid .theme-rpl.stickied {
    --color-neutral-content: #4b3000;
    --color-neutral-content-disabled: #fec78b;
    --color-neutral-content-weak: #8c5e00;
    --color-neutral-content-strong: #201200;
    --color-neutral-background: #fef9f5;
    --color-neutral-background-selected: #fee3cb;
    --color-neutral-background-weak: #fef3ea;
    --color-neutral-background-medium: #fef1e6;
    --color-neutral-background-strong: #fef9f5;
    --color-neutral-background-hover: #feecdc;
    --color-neutral-background-container-strong: #fee8d5;
    --color-neutral-background-container-strong-hover: #fee0c5;
    --color-neutral-border-strong: #201200;
    --color-tone-1: #180c00;
    --color-tone-2: #583900;
    --color-tone-3: #e19900;
    --color-tone-4: #fed9b5;
    --color-tone-5: #feead8;
    --color-tone-6: #fef1e6;
    --color-tone-7: #fef9f5;
    --color-ui-canvas: #feead8;
    --color-primary: #0045AC;
    --color-primary-hover: #003584;
    --color-primary-background: #0045AC;
    --color-primary-background-hover: #003584;
    --color-primary-background-selected: #00255D;
    --color-secondary: #201200;
    --color-secondary-weak: #8c5e00;
    --color-secondary-background: #fee3cb;
    --color-secondary-background-hover: #fedbbb;
    --color-secondary-background-selected: #feca93;
    --color-secondary-plain: #201200;
}

@media (prefers-color-scheme: dark) {
    :root:not(.theme-light) .sidebar-grid, :root:not(.theme-light) .grid-container.grid, :root:not(.theme-light) .wiki-pilot-communities, :root:not(.theme-light) #pdp-credit-bar, :root:not(.theme-light) subreddit-header-card, :root:not(.theme-light) .sidebar-grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root:not(.theme-light) .sidebar-grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root:not(.theme-light) .grid-container.grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root:not(.theme-light) .grid-container.grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container) {
        --color-neutral-content: #B8C5C9;
        --color-neutral-content-disabled: #303030;
        --color-neutral-content-weak: #82959B;
        --color-neutral-content-strong: #F2F4F5;
        --color-neutral-background: #0B1416;
        --color-neutral-background-selected: #1A282D;
        --color-neutral-background-weak: #04090A;
        --color-neutral-background-medium: #131313;
        --color-neutral-background-strong: #0F1A1C;
        --color-neutral-background-hover: #131F23;
        --color-neutral-background-container-strong: #21272A;
        --color-neutral-background-container-strong-hover: #2A3236;
        --color-neutral-border-strong: #F2F4F5;
        --color-tone-1: #F2F2F2;
        --color-tone-2: #ACACAC;
        --color-tone-3: #434343;
        --color-tone-4: #303030;
        --color-tone-5: #1E1E1E;
        --color-tone-6: #131313;
        --color-tone-7: #080808;
        --color-ui-canvas: #080808;
        --color-primary: #629FFF;
        --color-primary-hover: #A7CCFF;
        --color-primary-background: #0045AC;
        --color-primary-background-hover: #1870F4;
        --color-primary-background-selected: #629FFF;
        --color-secondary: #F2F4F5;
        --color-secondary-weak: #82959B;
        --color-secondary-background: #1A282D;
        --color-secondary-background-hover: #223237;
        --color-secondary-background-selected: #33464C;
        --color-secondary-plain: #F2F4F5;
        --shreddit-content-background: var(--color-neutral-background);
        background-color: var(--color-neutral-background);
    }

    :root:not(.theme-light) .sidebar-grid .theme-beta.stickied, :root:not(.theme-light) .sidebar-grid .theme-rpl.stickied, :root:not(.theme-light) .grid-container.grid .theme-beta.stickied, :root:not(.theme-light) .grid-container.grid .theme-rpl.stickied {
        --color-neutral-content: #feb440;
        --color-neutral-content-disabled: #432b00;
        --color-neutral-content-weak: #c38500;
        --color-neutral-content-strong: #fef1e6;
        --color-neutral-background: #1c1000;
        --color-neutral-background-selected: #362100;
        --color-neutral-background-weak: #0e0600;
        --color-neutral-background-medium: #1d1000;
        --color-neutral-background-strong: #241500;
        --color-neutral-background-hover: #2a1900;
        --color-neutral-background-container-strong: #362200;
        --color-neutral-background-container-strong-hover: #442b00;
        --color-neutral-border-strong: #fef1e6;
        --color-tone-1: #feefe2;
        --color-tone-2: #e69d00;
        --color-tone-3: #5c3c00;
        --color-tone-4: #432b00;
        --color-tone-5: #2b1a00;
        --color-tone-6: #1d1000;
        --color-tone-7: #0e0600;
        --color-ui-canvas: #0e0600;
        --color-primary: #629FFF;
        --color-primary-hover: #A7CCFF;
        --color-primary-background: #0045AC;
        --color-primary-background-hover: #1870F4;
        --color-primary-background-selected: #629FFF;
        --color-secondary: #fef1e6;
        --color-secondary-weak: #c38500;
        --color-secondary-background: #362100;
        --color-secondary-background-hover: #422a00;
        --color-secondary-background-selected: #5c3c00;
        --color-secondary-plain: #fef1e6;
    }
}

:root.theme-dark .sidebar-grid, :root.theme-dark .grid-container.grid, :root.theme-dark .wiki-pilot-communities, :root.theme-dark #pdp-credit-bar, :root.theme-dark subreddit-header-card, :root.theme-dark .sidebar-grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-dark .sidebar-grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-dark .grid-container.grid .theme-beta:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container), :root.theme-dark .grid-container.grid .theme-rpl:not(.stickied):not(#left-sidebar-container):not(.left-sidebar-container) {
    --color-neutral-content: #B8C5C9;
    --color-neutral-content-disabled: #303030;
    --color-neutral-content-weak: #82959B;
    --color-neutral-content-strong: #F2F4F5;
    --color-neutral-background: #0B1416;
    --color-neutral-background-selected: #1A282D;
    --color-neutral-background-weak: #04090A;
    --color-neutral-background-medium: #131313;
    --color-neutral-background-strong: #0F1A1C;
    --color-neutral-background-hover: #131F23;
    --color-neutral-background-container-strong: #21272A;
    --color-neutral-background-container-strong-hover: #2A3236;
    --color-neutral-border-strong: #F2F4F5;
    --color-tone-1: #F2F2F2;
    --color-tone-2: #ACACAC;
    --color-tone-3: #434343;
    --color-tone-4: #303030;
    --color-tone-5: #1E1E1E;
    --color-tone-6: #131313;
    --color-tone-7: #080808;
    --color-ui-canvas: #080808;
    --color-primary: #629FFF;
    --color-primary-hover: #A7CCFF;
    --color-primary-background: #0045AC;
    --color-primary-background-hover: #1870F4;
    --color-primary-background-selected: #629FFF;
    --color-secondary: #F2F4F5;
    --color-secondary-weak: #82959B;
    --color-secondary-background: #1A282D;
    --color-secondary-background-hover: #223237;
    --color-secondary-background-selected: #33464C;
    --color-secondary-plain: #F2F4F5;
    --shreddit-content-background: var(--color-neutral-background);
    background-color: var(--color-neutral-background);
}

:root.theme-dark .sidebar-grid .theme-beta.stickied, :root.theme-dark .sidebar-grid .theme-rpl.stickied, :root.theme-dark .grid-container.grid .theme-beta.stickied, :root.theme-dark .grid-container.grid .theme-rpl.stickied {
    --color-neutral-content: #feb440;
    --color-neutral-content-disabled: #432b00;
    --color-neutral-content-weak: #c38500;
    --color-neutral-content-strong: #fef1e6;
    --color-neutral-background: #1c1000;
    --color-neutral-background-selected: #362100;
    --color-neutral-background-weak: #0e0600;
    --color-neutral-background-medium: #1d1000;
    --color-neutral-background-strong: #241500;
    --color-neutral-background-hover: #2a1900;
    --color-neutral-background-container-strong: #362200;
    --color-neutral-background-container-strong-hover: #442b00;
    --color-neutral-border-strong: #fef1e6;
    --color-tone-1: #feefe2;
    --color-tone-2: #e69d00;
    --color-tone-3: #5c3c00;
    --color-tone-4: #432b00;
    --color-tone-5: #2b1a00;
    --color-tone-6: #1d1000;
    --color-tone-7: #0e0600;
    --color-ui-canvas: #0e0600;
    --color-primary: #629FFF;
    --color-primary-hover: #A7CCFF;
    --color-primary-background: #0045AC;
    --color-primary-background-hover: #1870F4;
    --color-primary-background-selected: #629FFF;
    --color-secondary: #fef1e6;
    --color-secondary-weak: #c38500;
    --color-secondary-background: #362100;
    --color-secondary-background-hover: #422a00;
    --color-secondary-background-selected: #5c3c00;
    --color-secondary-plain: #fef1e6;
}
